img {
  width: 200px;
  height: 200px;
}

@media (max-width: 800px) {
  .question-cart {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .question-cart {
    grid-template-columns: 1fr;
  }
  .card-body {
    text-align: center;
  }
}
