<div class="footer-main">
  <div class="footer-container">
    <div class="footer-left">
      <div class="container-fluid part-bottom">
        <a class="navbar-brand" [routerLink]="'/main-page'">CodeAnswer</a>
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-part-top">
        <ul id="primary-menu" class="menu">
          <li id="menu-item-questions" class="nav-item" data-text="questions">
            <a class="nav-link links-width" [routerLink]="'/questions'">{{
              "NAVBAR.QUESTIONS" | translate
            }}</a>
          </li>

          <li id="menu-item-tests" class="nav-item" data-text="tests">
            <a class="nav-link links-width" [routerLink]="'/tests'">{{
              "NAVBAR.TESTS" | translate
            }}</a>
          </li>

          <li id="menu-item-about" class="nav-item" data-text="about">
            <a class="nav-link links-width" [routerLink]="'/about'">{{
              "NAVBAR.ABOUT" | translate
            }}</a>
          </li>
        </ul>
      </div>
      <div class="footer-part-bottom">
        <div class="part-bottom">
          <p>© 2025, CodeAnswer</p>
        </div>
      </div>
    </div>
  </div>
</div>
