:host {
  overflow-y: auto;
  display: block;
  flex: 1 1 100%;
}

.test-view {
  background-color: var(--color-background-flashcard);
  color: var(--main-color-text);
  height: 100px;
  width: auto;
}
