:host {
  overflow-y: auto;
  display: block;
  flex: 1 1 100%;
}

.test-view {
  background-color: var(--color-background-test);
  color: var(--main-color-text);
  height: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 14px;
  //border: 1px solid var(--main-color-text);
  .question-form {
    .question-id {
      text-align: left;
      .question-id-title {
        margin: 24px;
        font-weight: bold;
      }
      .answer-title {
        margin: 24px;
      }
      .answer {
        display: flex;
        gap: 14px;
      }
    }
  }
}

.form-check-input {
  --bs-border-color: var(--radio-border-color);
}
