//label {
//  //width: 150px;
//  //height: 150px;
//  cursor: pointer;
//}
.flashcard-main {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-question {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  //white-space: pre-wrap;
  letter-spacing: 0.1px;
  padding: 16px;
}
.formated-text {
  display: block;
}

.flashcard {
  margin: 30px 0 30px 0;
  min-height: 300px;
  height: auto;
  width: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d !important;
  -webkit-transition: all 600ms !important;
  transition: all 600ms;
  background-color: var(--color-background-flashcard) !important;
  display: flex;
  &.flipped {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    .back {
      display: flex;
    }
    .front {
      display: none;
    }
  }

  div {
    //position: absolute;
    //height: 100%;
    display: flex;
    width: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    //border-radius: 15% !important;
    border: 2px solid grey;
  }

  .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: var(--color-background-flashcard) !important;
    text-align: left;
    display: none;
  }
}

@media (max-width: 480px) {
  .flashcard {
    min-height: 200px;
    width: 100%;
    margin: 0 1rem;
  }
}
@media (max-width: 320px) {
  .title-question {
    font-size: small !important;
  }
}
