<div class="main-page">
  <section class="section main">
    <div class="container top">
      <div class="container-left slide-bottom">
        {{ "MAIN_PAGE.TITLE" | translate }}
      </div>
      <div class="container-right slide-right">
        {{ "MAIN_PAGE.SUBTITLE" | translate }}
      </div>
    </div>
    <div class="container bottom slide-bottom-2">
      <div class="box-bottom">
        <div class="line1">
          <p class="fs-4 fst-italic">
            “Practice is the hardest part of learning, and training is the
            essence of transformation.”
          </p>
        </div>
        <div class="line2">
          <p class="fs-6">- Ann Voskamp</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section question">
    <div class="container">
      <div class="question-title slide-bottom">
        <p class="fs-1 text-center">
          {{ "MAIN_PAGE.FLASHCARDS_TITLE" | translate }}
        </p>
      </div>
      <div class="question-cart">
        <a routerLink="/questions/html">
          <div class="card card-resize">
            <div class="card-body">
              <img src="assets/images/html.png" alt="html" />
            </div>
          </div>
        </a>
      </div>
      <div class="question-button">
        <a routerLink="/questions">
          <button type="button" class="btn btn-info questions-more">
            {{ "MAIN_PAGE.BUTTON.CHECK_MORE" | translate }}
          </button>
        </a>
      </div>
    </div>
  </section>
  <section class="section test">
    <div class="container">
      <div class="test-title slide-bottom">
        <p class="fs-1 text-center">
          {{ "MAIN_PAGE.TESTS_TITLE" | translate }}
        </p>
      </div>
      <div class="question-cart">
        <a routerLink="/tests/html">
          <div class="card card-test-resize">
            <div class="card-body card-body-test h3">
              <span>HTML</span>
            </div>
          </div>
        </a>
      </div>
      <div class="question-button">
        <a routerLink="/tests">
          <button type="button" class="btn btn-info questions-more">
            {{ "MAIN_PAGE.BUTTON.CHECK_MORE" | translate }}
          </button>
        </a>
      </div>
    </div>
  </section>
  <footer></footer>
</div>
