app-main-page {
  overflow: auto;
  .main-page {
    display: flex;
    //width: 100px;
    margin: 0 auto;
    max-width: 1440px;
    flex-direction: column;
  }

  .container.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-bottom: 90px;
  }

  .main {
    width: -webkit-fill-available;
  }

  .container-left {
    font-size: 60px;
  }

  .container-right {
    display: flex;
    align-items: flex-end;
    text-align: right;
  }

  img {
    width: 220px;
    height: 228px;
  }

  .question-button {
    text-align: center;
  }

  .questions-more {
    width: 152px;
    background-color: var(--main-color-text) !important;
    border-color: var(--main-color-text) !important;
    color: var(--second-color-backround) !important;
  }

  .questions-more:hover {
    background-color: var(--second-color-backround) !important;
    border-color: var(--main-color-text) !important;
    color: var(--main-color-text) !important;
  }

  .test-text {
    margin: 0 0 30px 0;
  }

  .card-body-test {
    margin: 0;
  }

  .card-body-test > span {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .card-test-resize {
    background-color: var(--main-color-text) !important;
    color: var(--second-color-backround) !important;
  }
  .card-test-resize:hover {
    background-color: var(--second-color-backround) !important;
    color: var(--main-color-text) !important;
  }

  .slide-bottom-2 {
    animation: slide-bottom-2 2s ease-in-out forwards;
  }
  @keyframes slide-bottom-2 {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .slide-right {
    width: 100%;
    animation: 4s slide-right;
  }

  @keyframes slide-right {
    0% {
      margin-left: -100%;
      opacity: 0;
    }
    100% {
      margin-left: 0;
      opacity: 1;
    }
  }

  @media (max-width: 1366px) {
  }

  @media (max-width: 1200px) {
  }
  @media (max-width: 1024px) {
  }
  @media (max-width: 800px) {
    .container.top {
      grid-template-columns: auto;
    }

    .container-right {
      margin-top: 30px;
    }
  }
  @media (max-width: 768px) {
    .container-left {
      font-size: 40px;
    }

    .question-cart {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: 480px) {
    section {
      margin: 50px 0 0 0;
      height: auto;
    }
    .question-cart {
      grid-template-columns: 1fr;
    }
    .card-body {
      text-align: center;
    }
    .line1 p,
    .line2 p {
      font-size: 10px !important;
    }
    .box-bottom {
      padding: 14px;
    }

    .card-resize {
      padding: 0;
    }
  }
  @media (max-width: 320px) {
    .container-left {
      font-size: 30px;
    }
  }
}
