<div class="main-page">
  <section class="section main">
    <div class="container top">
      <div class="container-left">/* Prepare for the interview */</div>
      <div class="container-right">
        This website was created to assist you in better preparing for a job
        interview.
      </div>
    </div>
    <div class="container bottom">
      <div class="box-top"></div>
      <div class="box-bottom">
        <div class="line1">
          <p class="fs-4 fst-italic">
            “Practice is the hardest part of learning, and training is the
            essence of transformation.”
          </p>
        </div>
        <div class="line2">
          <p class="fs-6">- Ann Voskamp</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section question">
    <div class="container">
      <div class="question-title">
        <p class="fs-1 text-center">Przygotowane fiszki z pytań</p>
      </div>
      <div class="question-cart">
        <a routerLink="/questions/html">
          <div class="card card-resize">
            <div class="card-body">
              <img src="assets/images/html.png" alt="html" />
            </div>
          </div>
        </a>
        <!--        <a routerLink="/questions/css">-->
        <!--          <div class="card card-resize">-->
        <!--            <div class="card-body">-->
        <!--              <img src="assets/images/css.png" alt="html" />-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </a>-->
        <!--        <a routerLink="/questions/git">-->
        <!--          <div class="card card-resize">-->
        <!--            <div class="card-body">-->
        <!--              <img src="assets/images/git.png" alt="html" />-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </a>-->
        <!--        <a routerLink="/questions/angular">-->
        <!--          <div class="card card-resize">-->
        <!--            <div class="card-body">-->
        <!--              <img src="assets/images/angular.png" alt="html" />-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </a>-->
      </div>
    </div>
  </section>
</div>
