<div class="navbar-top">
  <nav class="navbar sticky-top navbar-light bg-light navbar-all">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CodeAnswer</a>
    </div>
    <div class="nav-right-links">
      <div class="dropdown">
        <a
          data-mdb-dropdown-init
          class="dropdown-toggle"
          href="#"
          id="Dropdown"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="flag-united-kingdom flag m-0"></i>
        </a>

        <ul class="dropdown-menu" aria-labelledby="Dropdown">
          <li>
            <a class="dropdown-item" href="#"
              ><i class="flag-united-kingdom flag"></i>English
              <i class="fa fa-check text-success ms-2"></i
            ></a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" href="#"
              ><i class="flag-poland flag"></i>Polski</a
            >
          </li>
        </ul>
      </div>
      <a class="nav-link active" aria-current="page" href="/questions"
        >Questions</a
      >
      <a class="nav-link" href="#">Test</a>
      <a class="nav-link" href="#">About</a>
    </div>
  </nav>
</div>
