<div class="navbar-top">
  <nav class="navbar sticky-top navbar-light bg-light navbar-all">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CodeAnswer</a>
    </div>
    <div class="nav-right-links">
      <div ngbDropdown class="d-inline-block language">
        <button
          type="button"
          class="btn btn-outline-primary language"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ translate.currentLang.toUpperCase() }}
        </button>
        <div aria-labelledby="dropdownBasic1" ngbDropdownMenu>
          @for (lang of languages; let idx = $index; track idx) {
            <button
              ngbDropdownItem
              (click)="translate.use(lang)"
              class="language-active"
            >
              {{ lang.toUpperCase() }}
            </button>
          }
        </div>
      </div>
      <div class="header-link">
        <ul id="primary-menu" class="menu" [class.menu--open]="isMenuOpen">
          <li id="menu-item-questions" class="nav-item" data-text="questions">
            <a class="nav-link links-width" [routerLink]="'/questions'">{{
              "NAVBAR.QUESTIONS" | translate
            }}</a>
          </li>

          <li id="menu-item-tests" class="nav-item" data-text="tests">
            <a class="nav-link links-width" [routerLink]="'/tests'">{{
              "NAVBAR.TESTS" | translate
            }}</a>
          </li>

          <li id="menu-item-about" class="nav-item" data-text="about">
            <a class="nav-link links-width" href="#">{{
              "NAVBAR.ABOUT" | translate
            }}</a>
          </li>
        </ul>
      </div>
      <div
        class="header-contact header-menu"
        [class.hamburger--open]="isMenuOpen"
      >
        <a class="button" (click)="toggleMenu()">
          <div class="btn-contact">
            <div class="hamburger">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </nav>
</div>
