<div class="navbar-top">
  <nav class="navbar sticky-top navbar-light bg-light navbar-all">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CodeAnswer</a>
    </div>
    <div class="nav-right-links">
      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          {{ translate.currentLang }}
        </button>
        @for (lang of translate.getLangs(); track 0) {
          <div
            aria-labelledby="dropdownBasic1"
            ngbDropdownMenu
            (click)="translate.use(lang)"
          >
            <button ngbDropdownItem>
              {{ lang }}
            </button>
          </div>
        }
      </div>

      <a class="nav-link links-width" href="/questions">{{
        "NAVBAR.QUESTIONS" | translate
      }}</a>
      <a class="nav-link links-width" href="#">{{
        "NAVBAR.TESTS" | translate
      }}</a>
      <a class="nav-link links-width" href="#">{{
        "NAVBAR.ABOUT" | translate
      }}</a>
    </div>
  </nav>
</div>
