@import "bootstrap/scss/bootstrap";
/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  overflow-y: hidden;
}
body {
  margin: 0;
  //font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: "Inter", sans-serif;
  background-color: var(--main-color-background);
}

:root {
  //color
  --main-color-background: #f2f2f2;
  --second-color-backround: #dddce3;
}
