<div class="html-container">
  @if (!isStarted) {
    <section class="elements">
      <div class="html-title">
        <p class="h3">Study HTML questions.</p>
      </div>
      <div class="html-image">
        <img src="assets/images/html.png" alt="html" />
      </div>
      <div class="html-button">
        <button type="button" class="btn btn-info html-more" (click)="start()">
          Start study
        </button>
      </div>
      <div class="container bottom">
        <div class="box-bottom html-info">
          <div class="line1">
            <span class="material-symbols-outlined"> filter_1 </span>
            <span>123</span>
            <span>flashcards</span>
          </div>
        </div>
      </div>
    </section>
  } @else {
    <section class="elements">
      <ngb-carousel
        [showNavigationIndicators]="false"
        class="carousel carousel-dark slide"
      >
        @for (element of questions; track element.id) {
          <ng-template ngbSlide>
            <app-flashcard [questions]="element"></app-flashcard>
          </ng-template>
        }
      </ngb-carousel>
    </section>
  }
</div>
